@model PacienteModel

<div class="mb-3">
    <label asp-for="Nombre" class="form-label">Nombre completo</label>
    <input asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="FechaNacimiento" class="form-label">Fecha de nacimiento</label>
    <input asp-for="FechaNacimiento" type="date" class="form-control" />
    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Genero" class="form-label">Género</label>
    <input asp-for="Genero" type="email" class="form-control" />
    <span asp-validation-for="Genero" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Telefono" class="form-label">Teléfono</label>
    <input asp-for="Telefono" class="form-control" />
    <span asp-validation-for="Telefono" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Email" class="form-label">Correo electrónico</label>
    <input asp-for="Email" type="email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Direccion" class="form-label">Dirección</label>
    <input asp-for="Direccion" class="form-control" />
    <span asp-validation-for="Direccion" class="text-danger"></span>
</div>
