@model PacienteModel
@{
    ViewData["Title"] = "Nuevo Paciente";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    @await Html.PartialAsync("_PatientForm", Model)
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
